.title {
  font-size: 20px;
  color: var(--foreground);
}

.body {
  background-color: white;
}

.label {
  font-size: 14px;
  color: var(--foreground);
}

.input {
  border: 1px solid black;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  color: var(--foreground);
}
